<html>
<head>
  <title>ActionView::Component | Joel Hawksley | Boulder, Colorado</title>
  <meta name="description" content="Joel Hawksley is a software engineer based in Boulder, Colorado.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <a href="/">< Back to hawksley.org</a>

  <header class="mt-3">
    <h1>ActionView::Component</h1>
    <span>Component-based view architecture, in Rails</span><br />
    <h6>Presented at RailsConf 2019</h6>
  </header>

  <section class="mt-1">
    <dl>
      <dt>TL;DR</dt>
      <dd>React has shown that treating views as objects has many benefits. ActionView::Component applies these lessons to the Rails view layer.</dd>
    </dl>
    <dl>
      <dt>Demo repo</dt>
      <dd><a href="https://github.com/joelhawksley/actionview-component-demo">github.com/joelhawksley/actionview-component-demo</a></dd>
    </dl>
    <dl>
      <dt>RailsConf Slides</dt>
      <dd><a href="https://hawksley.org/components/slides">hawksley.org/components/slides</a> (Built with <a href="https://www.deckset.com/">Deckset</a>)</dd>
    </dl>
  </section>

  <section class="mt-3">
    <h1>Rethinking the view layer with components</h1>

    <p>The Rails view layer has been pretty stable since Rails 1.0 was released in 2005.</p>

    <p>Recently, React and other frontend Javascript frameworks have risen to prominence in the Rails community, offering architectural advantages not found in Rails.</p>

    <p>At GitHub, we've chosen to architect our frontend for progressive enhancement, which means that frameworks like React are off the table, as we need our app to work without Javascript enabled.</p>
  </section>

  <footer>&copy; 2004-2019 Joel Hawksley | View source on <a href="https://github.com/joelhawksley/identity">GitHub</a></footer>
</body
